.track__container{
    display: flex;
    flex-direction: column;
    flex: 0 0 23%;
    position: relative;
    padding-top: 1rem;
    background: #fff;
}

.track__list{
    list-style: none;
    overflow: auto;
    padding-inline-start: 0;
}

.track{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 2rem;
    margin: 0.5rem 1.5rem;
    background:var(--bg-color-light);
}

.track:hover{
    background: var(--bg-color-dark);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.track__cover{
 height: 5rem;
 width: 5rem;
}

.track__cover > img{
    width: 100%;
    border-radius: 2px;
}

.track__details{
    margin-left: 2rem;
}

.track__title{
    color:var(--color-primary-dark);
    font-size: 1.4rem;
}

.track__artist{
    color: var(--color-grey-dark);
    font-size: 1.3rem;
}

/* Media queries */
@media (max-width : 700px){
    .track__container{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        overflow-y: hidden;
        transform: translate(100%);
    }

    .track__container-transform{
        transform: translate(0%);
    }

    .track__list{
        overflow: none;
    }

    .track{
        padding: 1rem 2rem;
        margin: 3% 1.5rem;
    }
}