.header{
    min-height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background: var(--bg-color-light);
    font-size: 1.6rem;
}

.header-logo{
    height: 5rem;
    display: block;
}

.search{
    position: relative;
    display: flex;
    flex: 0 0 30%;
    justify-content: center;
    align-items: center;
}

.search__input{
    flex: 0 0 80%;
    padding: 1.3rem 2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    color: var(--color-grey-dark);
}

.likes{
    display: flex;
    position: relative;
}

.likes:hover{
    transform: scale(1.1);
}

.likes__btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes__dropdown{
    position: absolute;
    top: 5rem;
    z-index: 10000;
    padding: 1rem 0;
    width: 30rem;
    background: #fff;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
} 

.likes__dropdown:hover, .likes__btn:hover + .likes__dropdown{
    visibility: visible;
    opacity: 1;
}

.likes__list{
    list-style: none;
    overflow: auto;
    padding-inline-start: 0;
}

.likes-nolike{
    font-size: 1rem;
    display: block;
}

.likes-nolike__msg{
    text-align: center;
}