main{
    margin-top: 0.2rem;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.btn{
    padding: 1.1rem 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    background: linear-gradient(
        90deg,
        var(--color-secondary),
        var(--color-primary-dark)
    );
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover{
    transform: scale(1.1);
}

.error{
    padding: 0.5rem 2rem;
    margin: 0.5rem 1rem;
    font-size: 1rem;
}

.error__msg{
    text-align: center;
    color: var(--color-grey-dark);
}

.music__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.song__container{
    height: 100%;
    display: flex;
    padding: 1rem;
}

.audio__container{
    height: 20vh;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background: transparent;
    box-shadow: 0px 0px 20px 0px #e3dddd;
    border-top-right-radius: 5.5rem;
    border-top-left-radius: 2rem;
}

/* Media queries */
@media (max-width : 700px){
    main{
        min-height: 90vh;
    }

    .music__container{
        padding-bottom: 30%;
    }

    .song__container{
        flex-direction: column;
    }

    .audio__container{
        width: 100%;
    }
}

