@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root{
  --color-primary:#EEF2FF;
  --color-primary-dark:#3730A3;
  --color-secondary:#A5B4FC;
  --color-secondary-dark:#818CF8;
  --bg-color-light: #E0E7FF;
  --bg-color-dark:#C7D2FE;
  --color-grey-light:#D1D5DB;
  --color-grey-dark:#6B7280;
}

*{
  padding: 0;
  margin: 0;
}

*, 
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', 
  sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

@media (max-width : 700px){

  html{
    height: 100vh;
  }

  body{
    height : auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width : 900px){
  html{
    font-size: 50%;
  }
}